page-advanced-search {
  .select-text {
    margin-top: 16px;
  }
  .item.item-md .checkbox-md[item-right] {
    margin: 11px 10px 10px 10px;
  }
  .list-md { margin-top: 4px }
  .button-ios-danger {
    margin-bottom: 40px;
  }
}
